
{{ header }}

<div id="content" class="{{ class }}">
	<div class="custom-scoll hidden-sm hidden-md hidden-xs">
            <div class="custom-html">
                <div class="scoll-cate list_diemneo">
                    <ul id="nav-scroll" >
                        <li class="neo1"><a href="#box-link1"><span>{{ text_neo1 }}</span></a></li>
                        <li class="neo2"><a href="#box-link2"><span>{{ text_neo2 }}</span></a></li>
                        <li class="neo3"><a href="#box-link3"><span>{{ text_neo3 }}</span></a></li>
                        <li class="neo4"><a href="#box-link4"><span>{{ text_neo4 }}</span></a></li>
                        <li class="neo5"><a href="#box-link5"><span>{{ text_neo5 }}</span></a></li>
                    
                    </ul>
                </div>
            </div>
        </div>
	
    {{ content_home }}
    {{ content_top }}
    {{ content_bottom }}
</div>
{{ footer }}