{{ header }}{{ column_left }}
 <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<div class="row">
      <div id="filter-product" class="col-md-3 col-md-push-9 col-sm-9 hidden-sm hidden-xs">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-filter"></i>Filter</h3>
          </div>
          <div class="panel-body">
		    
            <div class="form-group">
              <label class="control-label" for="input-name">Product id</label>
              <input type="text" name="Product_id_filter" value="" placeholder="" id="Product_id_filter" class="form-control" />
            </div>

             <div class="form-group">
              <label class="control-label" for="input-df">Date From</label>
              <input type="text" name="input-df" value="" placeholder="" id="input-df" class="form-control" />
            </div>

            <div class="form-group">
              <label class="control-label" for="input-dt">Date To</label>
              <input type="text" name="input-dt" value="" placeholder="" id="input-dt" class="form-control" />
            </div>
           

            <div class="form-group text-right">

              <button type="button" id="button-export" class="btn btn-default"><i class="fa fa-filter"></i> Export </button>

              <button type="button" id="button-filter" class="btn btn-default"><i class="fa fa-filter"></i> Filter </button>
            </div>

            </div>

          </div>
        </div>



        <div class="col-md-9 col-md-pull-3 col-sm-12" style=" right: 8%;    width: 60%;">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list"></i> Product Sales Report </h3>
          </div>
          <div class="panel-body">
            <form action="" method="post" enctype="multipart/form-data" id="form-product">
              <div class="table-responsive">
                <table class="table table-bordered table-hover" id="prosalesreport">
                  <thead>
                    <tr>
                      <td class="text-center">Order_id</td>
                      <td class="text-center">Product_id</td>
                      <td class="text-center">Name</td>
                      <td class="text-center">model</td>
                      <td class="text-center">quantity</td>
                      <td class="text-center">price</td>
                      <td class="text-center">total</td>

                    </tr>
                  </thead>
                  <tbody>
                  
                  {% if products %}
                  {% for product in products %}
                  <tr>
                    <td class="text-left">{{ product.order_id }}</td>
                    <td class="text-left">{{ product.product_id }}</td>
                    <td class="text-left">{{ product.name }}</td>
                    <td class="text-left">{{ product.model }}</td>
                    <td class="text-left">{{ product.quantity }}</td>
                    <td class="text-left">{{ product.price }}</td>
                    <td class="text-left">{{ product.total }}</td>

                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                    <td class="text-center" colspan="8">No Results</td>
                  </tr>
                  {% endif %}
                    </tbody>
                  
                </table>
              </div>
            </form>
            
          </div>
        </div>
      </div>


</div>



  <script type="text/javascript">
$('#button-filter').on('click', function() {
	var url = '';
    var Product_id_filter = document.getElementById('Product_id_filter').value;

    if (Product_id_filter) {
		url += '&Product_id_filter=' + encodeURIComponent(Product_id_filter);
	}

    var date_from = document.getElementById('input-df').value;

    if (date_from) {
		url += '&date_from=' + encodeURIComponent(date_from);
	}

    var date_to = document.getElementById('input-dt').value;

    if (date_to) {
		url += '&date_to=' + encodeURIComponent(date_to);
	}    

   	location = '{{ href }}' + url;
	
});
</script> 


<script type="text/javascript">
        $('#input-df').datepicker({
        pickTime: false,
        dateFormat: 'yy-mm-dd'
    });

    $('#input-dt').datepicker({
        pickTime: false,
        dateFormat: 'yy-mm-dd'
    });
</script>


<script lang="javascript" src="./xlsx.full.min.js"></script>
<script lang="javascript" src="./FileSaver.min.js"></script>
    <script type="text/javascript">
        $('#button-export').on('click', function() {
            var orderids=[];var productids=[];var names=[];var models=[];var quantitys=[];var prices=[];var totals=[];            

            $('#prosalesreport tbody tr td:nth-child(1)').each(function () {
                orderids.push($(this).text());
            })

            //Iterate all td's in second column
            $('#prosalesreport tbody tr td:nth-child(2)').each(function () {
                //add item to array
                productids.push($(this).text());
            })

             $('#prosalesreport tbody tr td:nth-child(3)').each(function () {
                //add item to array
                names.push($(this).text());
            })
             $('#prosalesreport tbody tr td:nth-child(4)').each(function () {
                models.push($(this).text());
            })
             $('#prosalesreport tbody tr td:nth-child(5)').each(function () {
                quantitys.push($(this).text());
            })
             $('#prosalesreport tbody tr td:nth-child(6)').each(function () {
                prices.push($(this).text());
            })
            $('#prosalesreport tbody tr td:nth-child(7)').each(function () {
                totals.push($(this).text());
            })
            
           
            var arraytotalreport=[['order_id','product_id','name','model','quantity','price','total']];
            for(let i=0; i<orderids.length;i++){
              var arraypush=[orderids[i],productids[i],names[i],models[i],quantitys[i],prices[i],totals[i],];
                arraytotalreport.push(arraypush);

            }


          var wb = XLSX.utils.book_new();
         wb.Props = {
                Title: "report",
                Subject: "Dvexcellus",
                Author: "bhairab",
                CreatedDate: new Date(2021,12,19)
        };
        
        wb.SheetNames.push("Test Sheet");
        var ws = XLSX.utils.aoa_to_sheet(arraytotalreport);
        wb.Sheets["Test Sheet"] = ws;
        var wbout = XLSX.write(wb, {bookType:'xlsx',  type: 'binary'});
        function s2ab(s) {
  
                var buf = new ArrayBuffer(s.length);
                var view = new Uint8Array(buf);
                for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                return buf;
                
        }
      
     saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), 'Product_sales_Report.xlsx');
           
        });
    </script>


{{ footer }}