																																																																																																																																																																																																																																																																																																																									<section id="box-link2-organic" class="section-style ">
            <div class="container page-builder-ltr" id="listingtab{{ category_id }}">
                <div class="row row_qfpp  row-style ">
                    <div class="col-lg-12 col-md-4 col-sm-6 col-xs-12 col_hytt  col-style">
                        <div class="module so-listing-tabs-ltr home-ltr default-nav claerfix img-float label-1" style="margin-bottom: 0px;">
                            <div class="head-title font-ct" style="margin-left:13px;">
                                <h2 class="modtitle" style="background: linear-gradient(to right, #25a9c0, #0db04b);width: 480px;    white-space: nowrap;
    text-overflow: ellipsis;">
                                    <a href="index.php?route=product/category&amp;path={{ category_id }}" style="color: #ffffff">{{ module_name }}</a>
                                </h2>
                            </div>
                            <div class="modcontent">
                                <div id="so_listing_tabs_300" class="so-listing-tabs first-load module">
                                    <div class="ltabs-wrap">
                                        <div class="wap-listing-tabs products-list grid">
                                            <div class="ltabs-items-container">
                                                <div class="ltabs-items  ltabs-items-selected ltabs-items-loaded items-category-172" data-total="6">
                                                    <div id="products_container_{{ category_id }}" class="ltabs-items-inner ltabs00-4 ltabs01-3 ltabs02-3 ltabs03-2 ltabs04-2 none">
                                                        <!--oneproduct display-->
                                                        <!--oneproductdisplaydesign-->

                                                    </div>
                          
                                                </div>
                                            </div>
                                        </div>
                                    </div>
 <button id="loadmore_{{ category_id }}" type="button" class="btn btn-outline-success" style="background: linear-gradient(to right, #25a9c0, #0db04b);margin-left: 530px;margin-bottom :30px;
">View more</button>
                                </div>
                            </div>
                        </div>
                        


                    </div>
                </div>
                
            </div></section> 


			{# append the products to the tab #}
<script type="text/javascript">
let count{{ category_id }}=4;
     $(document).ready(function() {
         $.ajax({
             type :"POST",
             url : "index.php?route=api/getProducts&category_id="+{{ category_id }}+"&secret=U7sw3jr69r13",
            //  crossDomain: true, 
            dataType: "json",
                    success: function (data) {
                        var response = JSON.parse(JSON.stringify(data));
                        if (response["products"] == null ) {
                         
                            document.getElementById("listingtab{{ category_id }}").style.display='none';
                        }if(response["products"] != null ){
                            if ( response["products"].length < 4 ){
                                 document.getElementById('loadmore_{{ category_id }}').style.display='none';
                             }
                        for (let i = 0; i < 4; i++) {
                              let productHtml{{ category_id }} =
                     '   <div class="ltabs-item"  ' +
                      '      style="width: 285px; height: 380px; opacity: 1;float:left">  ' +
                      '      <div  ' +
                      '         class="item-inner product-thumb transition product-layout">  ' +
                      '         <div class="product-item-container">  ' +
                      '            <div class="left-block">  ' +
                      '               <div class="image product-image-container ">  ' +
                      '                  <a class="lt-image" data-product="'+
                                                 response["products"][i].product_id +'"  ' +
                      '                     href="index.php?route=product/product&product_id=' +
                                                 response["products"][i].product_id +
                      '"                     target="_self" title="' + response["products"][i].name +'">  ' +
                      '                  <img src=' + response["products"][i].thumb +
                      '                     alt="' + response["products"][i].name +'">  ' +
                      '                  </a>  ' +
                      '                  <div class="text-location">  ' +
                      '                     <span>' + response["products"][i].location + '</span>  ' +
                     '                  </div>  ' ;
                      if(response["products"][i].quantity == 0 ){
                            productHtml{{ category_id }}= productHtml{{ category_id }} + '                  <div  ' +
                      '                     style="position: absolute;background: rgba(0, 0, 0, 0.6);color: #fff;padding: 0 15px;border-radius: 3px;bottom: -100px;right: 20px;margin-bottom: 120px;">  ' +
                      '                     <span>Out of stock </span>  ' +
                      '                  </div>  ' ;
                        }else{
                      productHtml{{ category_id }}= productHtml{{ category_id }} +'                  <div  ' +
                      '                     style="position: absolute;background: rgba(0, 0, 0, 0.6);color: #fff;padding: 0 15px;border-radius: 3px;bottom: -100px;right: 20px;margin-bottom: 120px;">  ' +
                      '                     <span>{{ category_name }}</span>  ' +
                      '                  </div>  ' ;
                      }

                      productHtml{{ category_id }}= productHtml{{ category_id }} +'               </div>  ' +
                      '               <div class="box-label">  ' +
                      '               </div>  ' +
                      '            </div>  ' +
                      '            <div class="right-block">  ' +

                      '               <div class="caption">  ' +
                      '                  <h4>  ' +
                      '                     <a href="index.php?route=product/product&product_id='+response["products"][i].product_id +' title="' + response["products"][i].name +'"  ' +
                      '                        target="_self">' + response["products"][i].name +
                      '</a>  ' +
                      '                  </h4>  ' +
                      '                  <div class="total-price clearfix">  ' +
                      '                     <div class="price price-left">  ' + response["products"][
                          i
                      ].special +
                      '                      per ' + response["products"][i] .sku ;
if(response["products"][i] .discount!= false ){
                            productHtml{{ category_id }}= productHtml{{ category_id }} + '<span class="price-old">'+response["products"][i] .price+'</span>';
                        }
                        

                     productHtml{{ category_id }}= productHtml{{ category_id }} + '                     </div>  ' +'                     <div class="price price-right">  ' ;

                      if(response["products"][i] .discount!= false ){
                            productHtml{{ category_id }}= productHtml{{ category_id }} + '<span class="discount">'+response["products"][i] .discount+             
                                        '   <strong>OFF</strong>'+
                                    '   </span>';
                        }
                    productHtml{{ category_id }}= productHtml{{ category_id }} +
                      '                     </div>  ' +
					  '                     </div>  ' +
                      '                  </div>  ' +
            					  		 '   <div class="button-group">  '  + 
					 '   						<div class="button-inner so-quickview">  '  + 
					 '   							<a class="lt-image hidden" data-product="' + response["products"][i].product_id + '" href="https://khetifood.com/index.php?route=product/product&amp;product_id=' + response["products"][i].product_id + '" target="_self" title="'+ response["products"][i].name +'">  '  + 
					 '   								  '  + 
					 '   							</a><a class="btn-button btn-quickview quickview quickview_handler" href="https://khetifood.com/index.php?route=extension/soconfig/quickview&amp;product_id=' + response["products"][i].product_id + '" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"><i class="fa fa-search"></i></a>  ';

                      if(response["products"][i].quantity != 0 ){
                        productHtml{{ category_id }}= productHtml{{ category_id }} +'<button class="addToCart btn-button" type="button" data-toggle="tooltip" title="Add to cart" onclick="cart.add(\'' + response["products"][i].product_id + '\');" data-original-title="Add to cart" aria-describedby="tooltip38804"> <span class="hidden">Add to cart</span></button>  ';
                      }
					  productHtml{{ category_id }}= productHtml{{ category_id }} +
					 '   						</div>  '  + 
					 '  					</div>  ' 			 
										+

                      '               </div>  ' +
                      '            </div>  ' +
                      '         </div>  ' +
                      '      </div>  ' +
                      '      <div class="clr1"></div>  ' +
                      '  </div>  ';

                       
                            $('#products_container_{{ category_id }}').append(productHtml{{ category_id }});
                        }
                        
                            
                        document.querySelector('#loadmore_{{ category_id }}').addEventListener('click',function () {
                            let ab = response["products"].length - count{{ category_id }} ;

                            if( (ab / 4 )>= 1 ){
                                var countmore= 4;

                            } else{
                                var countmore = (ab);

                            }
                     
                               for (let i = count{{ category_id }}; i < (count{{ category_id }}+ countmore); i++) {
                             let productHtml{{ category_id }} =
                     '   <div class="ltabs-item"  ' +
                      '      style="width: 285px; height: 380px; opacity: 1;float:left">  ' +
                      '      <div  ' +
                      '         class="item-inner product-thumb transition product-layout">  ' +
                      '         <div class="product-item-container">  ' +
                      '            <div class="left-block">  ' +
                      '               <div class="image product-image-container ">  ' +
                      '                  <a class="lt-image" data-product="'+
                                                 response["products"][i].product_id +'"  ' +
                      '                     href="index.php?route=product/product&product_id=' +
                                                 response["products"][i].product_id +
                      '"                     target="_self" title="' + response["products"][i].name +'">  ' +
                      '                  <img src=' + response["products"][i].thumb +
                      '                     alt="' + response["products"][i].name +'">  ' +
                      '                  </a>  ' +
                      '                  <div class="text-location">  ' +
                      '                     <span>' + response["products"][i].location + '</span>  ' +
                      '                  </div>  ' ;
                      if(response["products"][i].quantity == 0 ){
                            productHtml{{ category_id }}= productHtml{{ category_id }} + '                  <div  ' +
                      '                     style="position: absolute;background: rgba(0, 0, 0, 0.6);color: #fff;padding: 0 15px;border-radius: 3px;bottom: -100px;right: 20px;margin-bottom: 120px;">  ' +
                      '                     <span>Out of stock </span>  ' +
                      '                  </div>  ' ;
                        }else{
                      productHtml{{ category_id }}= productHtml{{ category_id }} +'                  <div  ' +
                      '                     style="position: absolute;background: rgba(0, 0, 0, 0.6);color: #fff;padding: 0 15px;border-radius: 3px;bottom: -100px;right: 20px;margin-bottom: 120px;">  ' +
                      '                     <span>{{ category_name }}</span>  ' +
                      '                  </div>  ' ;}

                      productHtml{{ category_id }}= productHtml{{ category_id }} +'               </div>  ' +
                      '               <div class="box-label">  ' +
                      '               </div>  ' +
                      '            </div>  ' +
                      '            <div class="right-block">  ' +

                      '               <div class="caption">  ' +
                      '                  <h4>  ' +
                      '                     <a href="index.php?route=product/product&product_id='+response["products"][i].product_id +' title="' + response["products"][i].name +'"  ' +
                      '                        target="_self">' + response["products"][i].name +
                      '</a>  ' +
                      '                  </h4>  ' +
                      '                  <div class="total-price clearfix">  ' +
                      '                     <div class="price price-left">  ' + response["products"][
                          i
                      ].special +
                      '                      per ' + response["products"][i] .sku ;
if(response["products"][i] .discount!= false ){
                            productHtml{{ category_id }}= productHtml{{ category_id }} + '<span class="price-old">'+response["products"][i] .price+'</span>';
                        }
                        

                     productHtml{{ category_id }}= productHtml{{ category_id }} + '  </div>  ' +'                     <div class="price price-right">  ' ;

                    
                      if(response["products"][i] .discount!= false ){
                            productHtml{{ category_id }}= productHtml{{ category_id }} + '<span class="discount">'+response["products"][i] .discount+             
                                        '   <strong>OFF</strong>'+
                                    '   </span>';
                        }

                    productHtml{{ category_id }}= productHtml{{ category_id }} +
                      '                     </div>  ' +
					  '                     </div>  ' +
                      '                  </div>  ' +
            					  		 '   <div class="button-group">  '  + 
					 '   						<div class="button-inner so-quickview">  '  + 
					 '   							<a class="lt-image hidden" data-product="' + response["products"][i].product_id + '" href="https://khetifood.com/index.php?route=product/product&amp;product_id=' + response["products"][i].product_id + '" target="_self" title="'+ response["products"][i].name +'">  '  + 
					 '   								  '  + 
					 '   							</a><a class="btn-button btn-quickview quickview quickview_handler" href="https://khetifood.com/index.php?route=extension/soconfig/quickview&amp;product_id=' + response["products"][i].product_id + '" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"><i class="fa fa-search"></i></a>  '  + 
					 '   							  '  + 
					 '   																						<button class="addToCart btn-button" type="button" data-toggle="tooltip" title="Add to cart" onclick="cart.add(\'' + response["products"][i].product_id + '\');" data-original-title="Add to cart" aria-describedby="tooltip38804"> <span class="hidden">Add to cart</span></button>  '  + 
					 '   								  '  + 
					 '   						</div>  '  + 
					 '  					</div>  ' 			 
										+

                      '               </div>  ' +
                      '            </div>  ' +
                      '         </div>  ' +
                      '      </div>  ' +
                      '      <div class="clr1"></div>  ' +
                      '  </div>  ';
                       
                           $('#products_container_{{ category_id }}').append(productHtml{{ category_id }});
                        } 
                             count{{ category_id }} = count{{ category_id }}+countmore;
                                

                             if ( count{{ category_id }} == (response["products"].length ) ){
                                 document.getElementById('loadmore_{{ category_id }}').style.display='none';

                             }

                            
        });                       
                         }

                    }
         })
     });
</script>					 
											 
											 
											 
											 
											 
											 
											 
											 
											 
											 
											 
											 
											 
											 
											 
											 
											 
											 
											 
											 
											 
											 
											